    <footer id="footer">
      {% include icons.svg %}
      <div class="inner">
        {% include author_vcard.html %}
        <div id="html5" class="widget">
          <p>
            <a href="http://validator.w3.org/check?uri={{ site.url | uri_escape }}{{ page.url | uri_escape }}"
              title="{% t 'html_valid.link_title' %}">
              <svg alt="{% t 'html_valid.img_alt' %}" class="icon" role="presentation" version="1.1">
                <use xlink:href="#icon-html5" />
              </svg>
            </a>
            {% t 'html_valid.text' %}
          </p>
        </div>
        <div id="translations" class="widget">
          {% if page.language != 'eo' %}
          <p lang="eo">
            <a href="{{ site.url }}">
              <svg alt="Esperanta flago" class="icon" role="presentation" version="1.1">
                <use xlink:href="#icon-eo" />
              </svg>
            </a>
            Tiu retpaĝaro ankaŭ haveblas <a href="{{ site.url }}" hreflang="eo">en Esperanto.</a>
          </p>
          {% else %}
          <p lang="fr">
            <a href="{{ site.url }}/fr">
              <svg alt="Drapeau français" class="icon" role="presentation" version="1.1">
                <use xlink:href="#icon-fr" />
              </svg>
            </a>
            Ce site existe aussi <a href="{{ site.url }}/fr" hreflang="fr">en Français.</a>
          </p>
          {% endif %}
        </div>
        <p class="copyright">Copyright &copy; <span itemprop="copyrightYear">2014</span>, <span itemprop="copyrightYear">2015</span>, <span itemprop="copyrightYear">2016</span> Mickaël RAYBAUD-ROIG</p>
        {% include autoreload.html %}
      </div>
    </footer>
