    <header id="banner">
      <div class="inner">
        <h1 class="title" itemprop="name"><a itemprop="url" href="{{ site.baseurl }}/{% if page.lang != site.lang %}index.{{ page.lang }}.html{%endif %}">{{ site.title }}</a></h1>
        <nav id="menu">
          <ul>
            {% assign pages = site.pages | where:'lang',page.lang |sort:'featured','last' %}
            {% for p in pages %}{% if p.featured %}
            <li><a href="{{ site.baseurl }}{{ p.url }}"{%if p.url == page.url%} class="active"{%endif%}>{{ p.title }}</a></li>
            {% endif %}{% endfor %}
          </ul>
        </nav>
      </div>
    </header>
