/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

//= require tinytypo/css/tinytypo.css

$breakpoint-medium-width: 40em;
$breakpoint-large-width: 50em;

body {
  margin: 0;
  font: 100.1%/150% "Fira Sans", Ubuntu, "Segoe UI", "Helvetica Neue", "Droid Sans", Helvetica, Arial, sans-serif;
}

a, a:visited { 
    text-decoration: none;
    color: #285577;
    transition: color ease-in-out 350ms;
    
    &:hover {
        color: #0078b9;
        text-decoration: underline;
    }
}

h1, h2, h3, h4, h5, h6 {
    a {
        color: inherit;
    }
}

/* Fonts */

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans'), local('FiraSans-Regular'), url(asset_path('FiraSansRegular400.woff2')) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Fira Sans Italic'), local('FiraSans-Italic'), url(asset_path('FiraSansItalic400.woff2')) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* Tables */

table {
    border: none;
    border-collapse: collapse;

    tr:nth-child(2n) {
        background-color: #fbfbfb;
    }

    tr:nth-child(2n+1) {
        background-color: #f9f9f9;
    }
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  display: table;
  
  .inner & { margin-left: 0; }

  li {
      line-height: 1.75em;
      display: table-row;
  }
  
  time, .separator, a{
      display: table-cell;
  }
  
  .separator::before {
      display: inline;
      content: ' → ';
      color: silver;
      margin: 0 .25em;
  }
}


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

body {
    background-color: #fdfdfd;
    color: #181818;
}

.inner {
    max-width: 42em;
    margin: 0 auto;
    padding: 1.5em 1em;
    
    @media (min-width: $breakpoint-large-width) {
        max-width: $breakpoint-large-width;
    }
}

#skip-links {
    position: absolute;
    $skip-links-position-top: -10em;
    position: absolute;
    top: $skip-links-position-top; // cache les liens sur les petits écrans

    a:hover, a:focus {
        position: relative;
        top: -$skip-links-position-top;
        color: #afafaf;
    }
    
    @media (min-width: $breakpoint-medium-width) {
        width: 100%;
        top: .5em;
        left: .5em;
        font-size: .75em;
        line-height: 1;
        
        a, a:visited, a:link {
            color: white;
            opacity: 0.25;
            padding: 1em .25em 0 .25em;
        }
        a:hover, a:focus {
            top: 0;
            opacity: .75;
        }
    }
}

#banner {
    background-color: #094303;
    background-image: linear-gradient(to bottom, #094303 0%, #3E783B 100%);
    text-align: center;

    a, a:visited {
        font-weight: bold;
        color: #dfdfdf;

        &:active, &:hover, &:focus {
            color: #fff;
        }

        &.active {
            color: #eee;
        }
    }

    h1 {
        color: #dfdfdf;
        font-size: 1.5em;
        line-height: 1;
        margin-bottom: 1em;
        
        a:hover {
            text-decoration: none;
        }
    }
    
    nav {
        display: inline-block;
        font-size: .8em;
        
        @media (min-width: $breakpoint-large-width) {
            font-size: .95em;
        }
        
        &, ul, li {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        ul, li {
            display: inline;
            list-style-type: none;
        }
        
        a {
            display: inline-block;
            padding-left: .5em;
            padding-right: .5em;
        }
    }
    
    @media (min-width: $breakpoint-medium-width) {
        overflow: hidden; // clearfix
        h1 {
            float: left;
        }
        h1, nav {
            vertical-align: baseline;
        }
        
        nav {
            float: right;
        }
        // Laisse de la place pour les liens
        padding: .75em 0;
    }
    @media (min-width: $breakpoint-large-width) {
        padding: 1em 0;
    }
}

#footer {
    border-top: 4px solid #eee;
    overflow: hidden;
    text-align: center; // Les widgets doivent être centrés

    .widget {
        display: inline-block;
        width: 30%;
        padding: 0 1%;
        min-width: 15em;
        text-align: left;
        vertical-align: top;

        font-size: 80%; 
        color: #555;

        @media (max-width: 42em) { width: 47%!important }
        @media (max-width: 30em) { width: auto; }
    }

    .widget a {
        color: #8085C1;
    }

    .widget img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-height: 2.5em;
        max-width: 7em;
    }

    .widget#translations,
    .widget#html5 {
        text-align: center;
    }

    #translations img {
        border: thin solid #aaa;
    }
    
    #translations a[hreflang]::after {
      display: none;
    }

    .copyright {
        padding-top: 2em;
        font-size: 80%;
        color: #555;
        clear: both;
        text-align: left;
    }
}


/*****************************************************************************/
/* Posts                                                                     *
/*****************************************************************************/

.inner {
    .meta {
        color: #aaa;
    }
    
    .page-title + .meta {
        margin-top: 0;
    }
    
    .page-title {
        margin-bottom: 0;
    }

    code {
        border: 1px solid #ddd;
        background-color: #eef;
        padding: 0 .2em;
    }

    pre {
        /* standard */
        border: 1px solid #ddd;
        background-color: #eef;
        padding: .5em .25em;
        line-height: 1.1;

        code {
            padding: 0;
            border: none;
        }

        /* terminal */
        &.terminal {
            border: 1px solid #000;
            background-color: #333;
            color: #FFF;

            code {
                background-color: #333;
            }
        }
    }
    
    ul, ol {
      margin-left: 1.25em;
      padding-left: 0;
      li {
        padding-left: .25em;
      }
    }
}

.comments {
    .comment {
        border: thin solid #ddd;
        border-radius: .5em;
        padding: 0 1em 0 1em;
        margin-bottom: 1.5em;
    }
}


/*****************************************************************************/
/*
/* CV   
/*
/*****************************************************************************/

#cv-contact {
    .adr {
        float: right;
        @media (max-width: 35em) {
            float: none;
            margin-bottom: 1.5em;
        }
    }

    dl {
        margin: 0;
        padding: 0;

        dt, dd {
            display: inline;
        }

        dt {
            font-weight: 500;
            @media (min-width: 25em) {
                display: inline-block;
                min-width: 5em;
            }
        }
    }
}


table.vcalendar {
    width: 100%;
    border-collapse: collapse;

    & td.date_duration {
        text-align: right;
        vertical-align: top;
    }
}

@import 'syntax.scss';
@import 'print.scss';
@import 'forms.scss';
