<!DOCTYPE html>
<html lang="{{ page.lang | default:site.lang }}">
  <head>
    <meta charset="utf-8" />
    <!--[if lte IE 8]>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript">
    (function(t,i) { for(;i<t.length;i++)(document.createElement(t[i])); })("article0header0aside0nav0section0footer0article".split(0), 0);
    </script>
    <![endif]-->
    <title>{{ page.title }} &mdash; {{ site.title }}</title>
    {% if page.allow_robots == false %}<meta name="robots" content="noindex,nofollow" />{% endif %}
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css" />
    <link rel="alternate" type="application/xml+atom" title="{% t Flux ATOM %}" href="{{ site.baseurl }}/{% if page.lang != site.lang %}feed.{{ page.lang }}.xml{%endif %}" />
    {% for t in page.translations %}
    <link rel="alternate" type="text/html" title="{{ t[1].title }}"
          hreflang="{{ t[1].lang }}"  href="{{ site.baseurl }}{{ t[1].url }}" class="{{ t[1].lang }}" />{% endfor %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico" />
    <link rel="shortcut icon" type="image/png"    href="{{ site.baseurl }}/favicon.png" />
  </head>
<!--[if IE 6]><body class="{{ page.lang | default:site.lang }} class="ie6"><![endif]-->
<!--[if !IE 6]><!-->
  <body itemtype="http://schema.org/Blog" itemscope="itemscope">
<!--<![endif]-->
    <div id="skip-links">
      <a href="#content">{% t Aller au contenu %}</a>
      <a href="#menu">{% t Aller au menu %}</a>
      <a href="{{ site.baseurl }}/feed.xml">{% t Flux ATOM %}</a>
    </div>

    <header id="banner">
      <div class="inner">
        <h1 class="title" itemprop="name"><a itemprop="url" href="{{ site.baseurl }}/{% if page.lang != site.lang %}index.{{ page.lang }}.html{%endif %}">{{ site.title }}</a></h1>
        <nav id="menu">
          <ul>
            {% assign pages = site.pages | where:'lang',page.lang |sort:'featured','last' %}
            {% for p in pages %}{% if p.featured %}
            <li><a href="{{ site.baseurl }}{{ p.url }}"{%if p.url == page.url%} class="active"{%endif%}>{{ p.title }}</a></li>
            {% endif %}{% endfor %}
          </ul>
        </nav>
        {% if page.translations and page.show_translations %}
        <nav id="translations">
          <ul>{% for t in page.translations %}
            <li>
                <a hreflang="{{ t[1].lang }}" href="{{ site.baseurl }}{{ t[1].url }}"
                   title="{{ t[1].title }}">
                   <img src="{{ site.baseurl }}/img/{{ t[0] }}.png" alt="{{ t[0] }}" />
                 </a>
             </li>
               {% endfor %}
          </ul>
        </nav>
       {% endif %}
      </div>
    </header>

    {{ content }}

    <footer id="footer">
      <div class="inner">
        <div id="hcard-Mickaël-Raybaud-Roig" class="vcard widget"
          itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
          <p>
          <strong class="fn" itemprop="name">Mickaël Raybaud-Roig</strong><br />
          <a class="url" href="http://ctrlaltbksp.eu">http://ctrlaltbksp.eu</a><br />
          <a class="email" itemprop="email"
            href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#114;&#97;&#121;&#98;&#97;&#117;&#100;&#114;&#111;&#105;&#103;&#109;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">
            &#114;&#97;&#121;&#98;&#97;&#117;&#100;&#114;&#111;&#105;&#103;&#109;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a><br />
          <span class="tel" itemprop="telephone">&#48;&#54;&#32;&#54;&#57;&#32;&#51;&#48;&#32;&#49;&#54;&#32;&#52;&#57;</span>
          </p>
        </div>
        <div id="html5" class="widget">
        <p>
        <a href="http://validator.w3.org/check?uri={{ site.url | uri_escape }}{{ page.url | uri_escape }}"
          title="{% t Validation HTML5 %}"><img src="/img/html5-valid.png" alt="{% t Logo HTML5 %}" /></a>
         {% t Ce site respecte les standards du Web. %}
        </p>
        </div>
        <p class="copyright">{% t Copyright %} &copy; <span itemprop="copyrightYear">2014</span> Mickaël RAYBAUD-ROIG</p>
        {% include autoreload.html %}
      </div>
    </footer>
  </body>
</html>
